<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="/<%= page.slug %>">
    <title><%= global.gConfig.siteName %> | <%= page.title %></title>
    <!-- AMP fonts must be loaded outside of our stylesheet unless using @fontface. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/ampstyles.css">
</head>
<body class="page page-<%= page.slug %>">
<%- include('../global/header'); %>

<img src="/img/150.png" alt="test image">
<%- page.content %>
<div class="container code-box">
    <div class="row">
        <div class="col-12">
            <pre><code>shown from: views/<%= page.layout %>.ejs</code></pre>
        </div>
    </div>
</div>
<%- include('../global/footer'); %>
</body>
</html>