<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="<%= global.gConfig.siteUrl %>/blog/<%= post.slug %>">
    <title><%= global.gConfig.siteName %> | <%= post.title %></title>
    <!-- AMP fonts must be loaded outside of our stylesheet unless using @fontface. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/ampstyles.css">
</head>
<body class="post post-<%= post.slug %>">
<%- include('../global/header'); %>
<main>
    <%- post.content %>
</main>
<%- include('../global/footer'); %>
</body>
</html>