<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if(page.should_amp) { %>
    <link rel="amphtml" href="/amp/<%= page.slug %>">
    <% } %>
    <title><%= global.gConfig.siteName %> | <%= page.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="page page-<%= page.slug %>">
<%- include('global/header'); %>
<main>
    <%- page.content %>
</main>
<%- include('global/footer'); %>
<script src="/js/custom.js"></script>
</body>
</html>