<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= config.siteName %> | <%= post.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="page page-<%= post.slug %>">
<%- include('global/header'); %>
<%- post.content %>
<%- include('global/footer'); %>
<script src="/js/main.js"></script>
</body>
</html>