<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= global.gConfig.siteName %> | <%= pageTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include('header'); %>
<main>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Blog</h1>
        </div>
    </div>
    <% for(var i=0; i<posts.length; i++) {%>
    <%
        let dt = new Date(posts[i].created_on);
        let date_readable = global.gConfig.monthNames[dt.getMonth()] + " " + dt.getDate() + ", " + dt.getFullYear();
    %>
        <div class="row">
            <div class="col-12">
                <div class="post post-<%= posts[i].slug %>">
                    <h2><a href="/blog/<%= posts[i].slug %>"><%= posts[i].title %></a></h2>
                    <blockquote class="blockquote">
                        <footer class="blockquote-footer">written by <cite title="Post Author"><%= posts[i].author %></cite> on <%= date_readable %></footer>
                    </blockquote>
                    <p class="mb-0 excerpt"><%= posts[i].excerpt %></p>
                </div>
            </div>
        </div>
    <% } %>
</div>
</main>
<%- include('footer'); %>
<script src="/js/custom.js"></script>
</body>
</html>