<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if(post.should_amp) { %>
        <link rel="amphtml" href="/amp/blog/<%= post.slug %>">
    <% } %>
    <title><%= global.gConfig.siteName %> | <%= post.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="post post-<%= post.slug %>">
<%- include('header'); %>
<main>
<%- post.content %>
</main>
<%- include('footer'); %>
<script src="/js/custom.js"></script>
</body>
</html>